
# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test
.env.production

# prettier
.prettierrc
.prettierignore

#logging 
/app.log